
    <%- include('./partials/top.ejs') %>
  


    <a href="/about">About page</a>
    <h3>This is index</h3>

    <% const names = 'mario defined variable' %>
    
    <p><%= names %></p>
    <p><%= name  %></p>
    <h2>blogs</h2><br>
    
    <% if (blog.length > 0){ %>
        <% blog.forEach(blog => { %>
            <h3 class="title"><%=blog.title %></h3>
            <p class="snippet"><%=blog.snipet %></p>
       <% }) %>
    <% }else { %>
        no blogs were found
    <%}%>
    
        here is the files link 
        <a href="/files">DOn t</a>
    <%- include('./partials/foot.ejs') %>

